# LaTeX generierte Dateien
*.aux
*.bbl
*.blg
*.idx
*.ind
*.lof
*.log
*.lot
*.out
*.toc
*.synctex.gz
*.fdb_latexmk
*.fls
*.thm
*.ilg

# macOS
.DS_Store

# PDF (optional - entfernen wenn PDF versioniert werden soll)
# *.pdf
