# LaTeX Hilfsdateien
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.glo
*.gls
*.glg
*.acn
*.acr
*.alg
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.out
*.run.xml
*.synctex.gz
*.toc
*.thm
*.pdf
*.DS_Store
